################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Generator/.vs/Generator/v15
/Generator/Generator/obj
